absl-py==1.4.0
annotated-types==0.7.0
anyio==4.6.0
appdirs==1.4.4
appnope==0.1.3
asttokens==2.2.1
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.8.2
boto3==1.28.27
botocore==1.31.27
brotlipy==0.7.0
cachetools==5.3.1
certifi==2022.12.7
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-2p6q7e2r/cffi_1642701115063/work
chardet==4.0.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.6
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
conda==22.9.0
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///opt/concourse/worker/volumes/live/0cf65687-72c2-4e51-5322-1b3a8c3aa6f5/volume/conda-package-handling_1649105815927/work
contourpy==1.1.0
cryptography @ file:///opt/concourse/worker/volumes/live/a9ca20dd-e1fe-4ed3-754e-0db64082a5d2/volume/cryptography_1639414576087/work
cycler==0.10.0
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
entrypoints==0.4
exceptiongroup==1.2.2
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.12.2
fire==0.5.0
Flask==3.0.3
fonttools==4.42.0
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.22.0
google-auth-oauthlib==1.0.0
graphviz @ file:///var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_adtn416tfr/croots/recipe/python-graphviz_1660063186502/work
groq==0.11.0
grpcio==1.57.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.16.4
idna==2.10
importlib-metadata==4.12.0
importlib-resources==6.0.1
ipython==8.11.0
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
lxml==4.9.1
Markdown==3.4.4
MarkupSafe==2.1.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mistune==2.0.4
mpmath==1.3.0
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.6.1
nest-asyncio==1.5.5
networkx==3.1
numpy==1.25.2
oauthlib==3.2.2
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.76
packaging==21.3
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.38
protobuf==4.24.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybboxes==0.1.6
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.9.2
pydantic_core==2.23.4
pydot @ file:///opt/concourse/worker/volumes/live/35a9d73a-b094-4c6a-51ea-5a2106653c0d/volume/pydot_1615394994809/work
pyee==8.2.2
Pygments==2.13.0
pygraphviz==1.10
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==2.4.7
pyppeteer==1.0.2
pyrsistent==0.18.1
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
pyzmq==24.0.1
quickdraw==1.0.0
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
roboflow==1.1.2
rsa==4.9
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/e81cf0fe-611a-498e-6e69-a7320057c1ac/volume/ruamel_yaml_1616016689696/work
s3transfer==0.6.2
sahi==0.11.14
scapy==2.5.0
scipy==1.11.1
seaborn==0.12.2
shapely==2.0.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.0
sniffio==1.3.1
soupsieve==2.3.2.post1
stack-data==0.6.2
supervision==0.13.0
sympy==1.12
tensorboard==2.14.0
tensorboard-data-server==0.7.1
termcolor==2.3.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
tinycss2==1.1.1
toolz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_a7gkswah88/croot/toolz_1667464082910/work
torch==2.0.1
torchvision==0.15.2
tornado==6.2
tqdm==4.66.1
traitlets==5.4.0
typing_extensions==4.7.1
tzdata==2023.3
ultralytics==8.0.155
UNKNOWN==0.0.0
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
wcwidth==0.2.6
webencodings==0.5.1
websockets==10.3
Werkzeug==3.0.4
wget==3.2
yolov5==7.0.12
zipp==3.8.1
