.planet-container {
    position: fixed; /* Use fixed to position relative to the viewport */
    z-index: 100; /* Ensure it appears above other content */
    width: auto;
  }
  
  .planet-image {
    width: 100px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.5s ease; /* Optional smooth transition */
    will-change: transform; /* Hint to the browser for optimizing rendering */
    cursor: pointer;
  }
  
  .fact-overlay {
    position: fixed; /* Cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Ensure it's above other elements */
    animation: fadeIn 0.5s ease; /* Fade-in animation */
  }
  
  .fact-box {
    background-color: #fff; /* White background for the text box */
    color: #000; /* Text color */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px; /* Set a fixed width or use a percentage like 80% */
    height: 50vh;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    position: relative; /* Position for the close button */
  }

  /* Adjusting the styling of the list */
.fact-box ul {
    list-style-position: inside; /* Makes the bullets inside the list */
    padding: 0; /* Removes padding */
    margin: 0; /* Removes margin */
  }
  
  .fact-box li {
    margin: 5px 0; /* Adjust margin as needed to control spacing between items */
    line-height: 1.2; /* Adjust line-height for better spacing if needed */
  }
  
  .close-button {
    position: absolute;
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #000; /* Close button color */
  }
  
  .fact-box h1 {
    font-size: 2rem; /* Use rem for responsive sizing based on root font size */
  }

  @keyframes fadeIn {
    from {
      opacity: 0; /* Start from fully transparent */
    }
    to {
      opacity: 1; /* End at fully opaque */
    }
  }
  
  @keyframes fadeOut {
    from {
        opacity: 1; /* Start from fully opaque */
    }
    to {
        opacity: 0; /* End at fully transparent */
    }
}
.fade-out {
    animation: fadeOut 1s ease forwards; /* Trigger the fadeOut animation */
}
